*{margin: 0;padding: 0;text-decoration: none;box-sizing: border-box;list-style: none;}




body {
    background-color: white;
  }
  header {
    overflow: hidden;
    background-color: lightslategray;
    padding: 20px 10px;
    color: black;
  }

  .header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}




.header-right {
    text-align: center;
}

  h1 {
    color: red;
    text-align: center;
  }
  h2 {
      color: brown;
      text-align: center;
  }

#Me {
  width: 150px;
  height: 150px;
  margin-bottom: 600;
  border-radius: 50%;
}

  
  #para1 {
    text-align: center;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
    
      
  * {
    box-sizing: border-box;
  }
  
  input[type=text], number, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=send] {
    background-color:purple;
    color: black;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;

  }
  
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
  }
  
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightslategray;
    color: black;
    text-align: center;
 }